* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: url("../img/background.jpg") center no-repeat;
   background-size: cover;
   height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-attachment: fixed;
}

.flex-row {
   display: flex;
   justify-content: center;
   align-items: center;
}

header {
   width: 90%;
   height: 50px;
   position: fixed;
   background: rgba(1, 25, 129, 0.7);
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
}

.inputTask {
   width: 80%;
   height: 40px;
   border-radius: 20px;
   background: rgba(47, 123, 236, 0.404) ;
   font-size: 18px;
   color: white;
   font-family: "Lato";
   padding-left: 10px;
   border: none;
   outline: none;
   appearance: none;
}

.AddTaskButton {
   width: 35px;
   height: 35px;
   background: url("../img/AddButton.png") center no-repeat;
   background-size: cover;
   border: none;
   outline: none;
   appearance: none;
   margin-left: 15px;;
}

.container {
   width: 100%;
   margin-top: 60px;
   padding: 5%;
}

.todo {
   width: 100%;
   list-style-type: none;
}

.todo li {
   width: 100%;
   min-height: 50px;
   background: rgba(47, 123, 236, 0.404);
   border: 2px solid rgba(1, 25, 129, 0.7);
   border-radius: 5px;
   margin-bottom: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 3px;
}

.taskText {
   width: 90%;
   word-break: break-all;
}

.deleteTask {
   width: 25px;
   height: 25px;
   background: url("../img/delete.png") center no-repeat;
   background-color: rgba(252, 30, 30, 0.6);
   border-radius: 10%;
   background-size: cover;
   border: none;
   outline: none;
   appearance: none;
}

.didTask {
   width: 25px;
   height: 25px;
   background: url("../img/done.png") center no-repeat;
   background-color: rgba(74, 252, 30, 0.6);
   border-radius: 10%;
   background-size:20px;
   border: none;
   outline: none;
   appearance: none;
   margin-left: 3px;
}
